#login{
    width:62%;
    border-right :1px solid gray;
    text-align: center;
    margin-top: 50px;
    float: left;
    
}

.user_info{
  
}

.class_info > input{       
    clear: both;
    width:100px;
    height: 30px;
    

}
#caption_register{
    width: 30%;
    float: right;
    text-align: center;
    margin-right: 5%;
}
