table{
    margin: 0 auto 0 auto;
    border: 1px solid red;
    width: 50%;
    border-collapse: collapse
}
tbody{
    text-align: center;
}
tbody  tr:nth-child(odd){
    background: green
}

img{
    /* height: 40px; */
    /* background: white; */
    width: 100%;
    height: 100px;
}
td,th{
    border: 1px solid red;
    height: 30px;
    
}